<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popino's site!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>¡Bienvenid@! Esta es la web de Popino</h1>
    <p>Para verlo <a href="/popino-el-perro">haz click aqui</a></p>
    <p>También puedes ver un ejemplo con HBS <a href="/reserva">en este enlace</a></p>

</body>

</html>