<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popino's pictures yay!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>Popino es ideal</h1>
    <p>Temporada otoño-invierno 2019 en Cercedilla</p>
    <img src="/img/popino.jpeg" alt="Popino en la sierra">

    <p><a href="/">Volver a inicio</a></p>

</body>

</html>